body, html{
    background: #181E24;
    padding-top: 10px;
  }
  
  .wrapper{
    width:95%;
    display:block;
    overflow:hidden;
    margin:0 auto;
    padding: 20px;
    background:#fff;
    border-radius:4px;
  }
  
  canvas{
    background:#fff;
    height:500px;
    width: 500px;
  }