body, html{
  background: #ffffff;
  padding-top: 10px;
}

.wrapper{
  width:95%;
  display:block;
  overflow:visible;
  margin:0 auto;
  padding: 20px;
  background:#fff;
  border-radius:4px;
}

canvas{
  background:#fff;
  height: 400px;
  /* width: 1000px; */
}

label {
  display: inline-block;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

