#map,
  body,
  html {
    height: 100%;
  }
  
  .leaflet-popup-content-wrapper, .leaflet-popup.tip h3 {
    border-radius: 10px;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  }
  
  .wrapper{
    width:100%;
    display:block;
    overflow:hidden;
    margin: 10px;
    padding: 20px;
    background:#fff;
    border-radius:20px;
  }

  canvas{
    background:#fff;
    height: auto;
  }

  /* .container{
    margin:auto;
    padding: 20px;
  } */