<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Map of Stocks</title>
  <link rel="shortcut icon" type="image/jpg" href="USGSDatasetRepository.png"/>

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

  <!-- D3 library -->
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/d3/7.1.1/d3.min.js"></script>
   
  <!-- Marker cluster JavaScript code -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
   
  <!-- Marker cluster CSS -->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css">


  <!-- Local CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <link rel="stylesheet" type="text/css" href="../static/css/mapstyles.css">
  
</head>

<body>

  <!-- The div that holds the map -->
  <div id="map"></div>

   
  <!-- Our JavaScript -->
  <script src="{{url_for('static', filename='js/map.js')}}"></script>


</body>

</html>

